body {
	background: linear-gradient(to right, burlywood, coral);
	font-family: sans-serif; text-align: center;
}

.my-photo p {
	text-align: center;
	padding: 3px;
	color: black;
	font-size: 21px;
}

.my-photo a {
	text-align: center;
	color: black;

	text-decoration: none;
	color: burlywood;
}

img {
	margin-top: 30px;
	width: 200px;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 99em;
	color: grey;
}

.my-instagram h2 {
	text-align: left;
	border-radius: 20px;
	border-style: solid;
	font-size: 20px;
	padding: 30px;
	margin: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 20px;
	background: lightcoral;
}

.my-instagram a {
	text-decoration: none;
	color: white;
}

.my-twitter h2 {
	text-align: left;
	border-radius: 20px;
	border-style: solid;
	font-size: 20px;
	padding: 30px;
	margin: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 20px;
	background: lightcoral;
}

.my-twitter a {
	text-decoration: none;
	color: white;
}

.my-bestie01 p {
	text-align: left;
	border-radius: 20px;
	border-style: solid;
	font-size: 20px;
	padding: 30px;
	margin: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 20px;
	background: lightcoral;
}

.my-bestie01 a {
	text-decoration: none;
	color: white;
}

.my-bestie02 p {
	text-align: left;
	border-radius: 20px;
	border-style: solid;
	font-size: 20px;
	padding: 30px;
	margin: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 20px;
	background: lightcoral;
}

.my-bestie02 a {
	text-decoration: none;
	color: white;
}

.my-bestie p {
	text-align: left;
	border-radius: 20px;
	border-style: solid;
	font-size: 20px;
	padding: 30px;
	margin: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 20px;
	background: lightcoral;
}

.my-bestie a {
	text-decoration: none;
	color: white;
}

.judul {
	text-align: center;
	color: black;
}

.tabel {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 2px solid black;
	text-align: center;
	padding: 15px;
}

th:hover {
	background-color: bisque;
}

td:hover {
	background-color: bisque;
}

.tabel-utama {
	background-color: peachpuff;
	text-decoration: none;
	color: black;
}

.back-friendsjquery {
	margin-top: 40px;
}

.back-friendsjquery a {
	background-color: bisque;
	font-size: 20px;
	color: black;
	padding: 15px 25px;
	text-decoration: none;
	border-radius: 20px;
}
.back-friendsjquery a:hover {
	background-color: peachpuff;
}
.tabel-kedua {
	border-collapse: collapse;
	width: 100px;
}
.p03 {
	background-color: peachpuff;
	text-decoration: none;
	color: black;
}
.p03-judul {
	text-align: center;
	color: black;
}
.p03-tabel {
	margin-top: 40px;
}
.p03-tabel a {
	background-color: bisque;
	font-size: 20px;
	color: black;
	padding: 15px 25px;
	text-decoration: none;
	border-radius: 20px;
}
.p03-tabel a:hover {
	background-color: peachpuff;
}